body {
    font-family: Georgia, serif;
    padding: 20px;
    line-height: 1.6;
}

body {
    color: darkgray
}

background-color {
    background-color: HoneyDew;
}

.content-box {
    background: LavenderBlush;
}

.padding-box {
    background: Lavender;
    padding: 20px;
}

.border-box {
    background: honeydew;
    border: 4px solid rgb(184, 212, 184);
}

.margin-box {
    background: lavenderblush;
    border: 2px solid Thistle;
    margin: 30px;
}

.full-box {
    background: lavender;
    padding: 20px;
    border: 5px dashed rgb(171, 171, 208);
    margin: 40px;
}

.content-box,
.padding-box,
.border-box,
.margin-box,
.full-box {
    width: 250px;
    min-height: 60px;
    margin-bottom: 30px;
}